name: Simple Docker Compose Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Compose
      uses: docker/setup-buildx-action@v2
      
    - name: Build with Docker Compose
      run: |
        echo "Building images..."
        docker-compose build
        echo "Images:"
        docker images